.carousel {
    overflow-y: hidden;
    overflow-x: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 30vh;
    transform: translate(-50%, -50%);
    animation: fade ease 2s;
}

.carousel img {
    width: 30vh;
}

.flickity-button {
    opacity: 0;
}