@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: black;
    margin: 0;
    animation: fade ease 2s;
    font-family: 'Lexend Giga', sans-serif;
    text-transform: uppercase;
    color: white;
    overflow: hidden;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 50%;
  z-index: -1;
}

h2 {
  font-size: 3vmin;
}

/* animations */

@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}