.bookings {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fade ease 2s;
    row-gap: 3vmin;
    text-align: center;
    margin-top: 3vmin;
}

.book h1 {
    font-size: 3vmin;
}

.book p {
    font-size: 1.5vmin;
    margin-top: -1vmin;
}

.cities {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 15vmin;
}

.cities h1 {
    font-size: 3vmin;
    color: #39FF14;
}

.cities li {
    line-height: 1.8;
}

.cities li:hover {
    color: white;
    cursor: auto;
}

.cities a, .kp {
    color: white;
    background-color: rgb(74, 74, 74);
    padding: .5vmin;
    border-radius: 5px;
}

.cities a:hover, .kp:hover {
    color: black;
    background-color: #39FF14; 
}

.dates {
    margin-top: 3vmin;
}

.salon h6 {
    margin: 4vmin 0 2vmin 0;
    line-height: 0;
    color:#39FF14;
    font-size: 1.5vmin;
}

.kp-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 3vmin;
}

@media only screen and (max-width: 500px) {

    .bookings {
        height: 75vh;
        width: 100vw;
        position: fixed;
        bottom: 5%;
        overflow-y: auto;
        padding-top: 85vmin;
    }

    .book h1 {
        font-size: 5vmin;
    }

    .book p {
        font-size: 2.5vmin;
    }

    .cities {
        display: flex;
        flex-direction: column;
    }

    .cities h1 {
        font-size: 5vmin;
    }

    .cities li {
        font-size: 3vmin;
    }

    .cities a {
        font-size: 3vmin;
    }

    .salon {
        padding: 5vmin 0 10vmin 0;
    }

    .salon h6 {
        font-size: 3vmin;
    }
}

@media only screen and (max-width: 375px) {

    .bookings {
        height: 70vh;
        padding-top: 120vmin;
    }
    
}